.movie-list {
  padding-top: 20px;
  margin: 0 auto;
  width: 90%;
  min-height: 50vw;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-grid > * {
  flex: 1 1 calc(20% - 20px);
}

.loading {
  text-align: center;
  margin: 20px;
}

.movie-year {
  display: flex;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .movie-year {
    font-size: 1.4rem;
  }
  .movie-grid > * {
    flex: 1 1 calc(25% - 20px);
  }
  .movie-list {
    min-height: 140vw;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .movie-grid > * {
    flex: 1 1 calc(40% - 20px);
  }
  .movie-year {
    font-size: 1rem;
  }
  .movie-list {
    min-height: 150vw;
  }
  .movie-grid {
    gap: 0px;
  }
}
